IMAGE_REGISTRY={{ stack_reg }}
IMAGE_TAG={{ stack_tag }}
{% if compose_profiles | default('') | trim | length > 0 %}
COMPOSE_PROFILES={{ compose_profiles | trim }}
{% endif %}
HMI_HOST_PORT={{ hmi_host_port | default(8080) }}
HMI_DATA_DIR={{ deploy_dir }}/hmi-data
DISPLAY_HOSTNAME={{ hmi_display_hostname_cmd.stdout | trim }}
